<!doctype html>
<!--[if lt IE 7]>  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

  <style>.panel iframe { border: none !important; border-top: 1px solid #ccc; }</style>

  {{#urls}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="label label-default" href="{{ url }}">{{ url }}</a> -
        <a class="build-box-header-link small" href="{{ jenkinsFilmstripDir }}" title="{{ jenkinsFilmstripDir }}">
          Filmstrip directory
        </a>
        /
        <a class="build-box-header-link small" href="{{ jenkinsHar }}" title="{{ jenkinsHar }}">
          Har
        </a>
      </h4>
    </div>
    <div class="panel-body">
      <table>
        <tr>
        {{#screenshots}}
          <td>
            {{ time }} ms
          </td>
        {{/screenshots}}
        </tr>

        <tr>
        {{#screenshots}}
          <td>
            <a href="{{ url }}" class="thumbnail">
              <img src="{{ thumbnail }}" width="200" height="120">
            </a>
          </td>
        {{/screenshots}}
        </tr>
      </table>
    </div>

    <iframe style="border: 1px solid lightgray;" frameborder="0" width="100%" height="600px"
      src="../harviewer-2.0-15/preview.html?path={{ localHar }}&amp;expand=true&amp;validate=false"></iframe>
  </div>
  {{/urls}}

</body>
</html>
